<%# Rodapé %>

</main>
  <!-- Contato --> 
    <section class="section-5" id="contato">
      <div class="container">
        <h2 class="contact-title">Fale comigo ☕</h2>
        <div class="contact-wrapper">
            <p><i class="fas fa-map-marker-alt"></i> São José dos Campos - SP</p>
            <p><i class="fas fa-phone-alt"></i> (12) 99253-2612</p>
            <p><i class="fas fa-envelope"></i> mariafernandadinizhansen@gmail.com</p>
            <div class="social-buttons">
              <a href="https://github.com/Madhs31" target="_blank" class="btn github">
                <i class="fab fa-github"></i> @Madhs31
              </a>
              <a href="https://www.linkedin.com/in/maria-fernanda-diniz-0724122ba/" target="_blank" class="btn linkedin">
                <i class="fab fa-linkedin"></i> Maria Fernanda Diniz
              </a>
            </div>
            
          </div>
        </div>
      </div>
    </section>
<footer>
  <p class="p">&copy; <%= new Date().getFullYear() %> Maria Fernanda Diniz Hansen de Souza</p>
</footer>
</body>
</html>
